

.imagenes img { width: 300px;
                height: 200px;
            border-radius:10px; }

.sep1 { border-left: 2px solid #000;
        padding-left: 15px; 
         }

body { background-color: black;
       color:white;}
       
       
.cl1 {   background-color: rgba(114, 10, 10, 0.63);  
         position: absolute;
         top: 50px;
         left: 10px;
         margin-top: 20px;
         margin-bottom: 10px;
         margin-right: 10px;
         margin-left: 10px;
       border: 1px solid;}


  
.cl2 {  background-color: rgba(114, 10, 10, 0.63);    
       position: absolute;
         top: 50px;
         right: 10px;
          margin-top: 20px;
         margin-bottom: 10px;
         margin-right: 10px;
         margin-left: 10px;
        border: 1px solid; }        
.cl3 { background-color: rgba(114, 10, 10, 0.63); 
       position:absolute;
       top: 300px;
       right: 0px;
       margin-top: 10px; 
       margin-bottom: 10px;
       margin-right: 10px;
       margin-left: 10px;
       border: 1px solid; 
}


.cl4 { background-color: rgba(114, 10, 10, 0.63);  
        position: absolute;
         top:  300px;
         left: 10px;
         margin: 15px;
         margin-top: 10px; 
         margin-bottom: 10px;
         margin-right: 10px;
         margin-left: 10px;
         border: 1px solid; 
      }
      .cl1:hover  {  transform: scale(1.1);    }
      .cl2:hover  {  transform: scale(1.1);    }
      .cl3:hover  {  transform: scale(1.1);    }
      .cl4:hover  {  transform: scale(1.1);    }