

.imagenes img { width: 400px;
                height: 250px;
            border-radius:10px; }

.sep1 { border-left: 2px solid #000;
        padding-left: 15px; ;  }

body { background-color: royalblue;
       color:white;}
.cl1 {   position: absolute;
         top: 50px;
         left: 10px;
         margin-top: 10px;
         margin-bottom: 10px;
         margin-right: 10px;
         margin-left: 10px;}


  
.cl2 {   position: absolute;
         top: 50px;
         right: 10px;
          margin-top: 10px;
         margin-bottom: 10px;
         margin-right: 10px;
         margin-left: 10px;
         }        
.cl3 { position:absolute;
       bottom: 10px;
       right: 10px;
       margin-top: 10px; 
       margin-bottom: 10px;
       margin-right: 10px;
       margin-left: 10px;}
.cl4 {   position: absolute;
         bottom: 10px;
         left: 10px;
         margin: 15px;
         margin-top: 10px; 
         margin-bottom: 10px;
         margin-right: 10px;
         margin-left: 10px;
      }
      .cl1:hover  {  transform: scale(1.1);    }
      .cl2:hover  {  transform: scale(1.1);    }
      .cl3:hover  {  transform: scale(1.1);    }
      .cl4:hover  {  transform: scale(1.1);    }