.menu { background-color: aquamarine;
list-style-type: none;
display: flex;
justify-content: space-around;
margin-top: -10px;
margin-left: -10px;
margin-right: -10px;
text-align: center;

}
 
footer { margin-bottom: -10px;
}




